.nav {
  display: flex;
  gap: 10%;
}

.nav-items {
  list-style: none;
  font-family: "Quicksand", sans-serif;
  font-size: 21px;
}

.title {
  font-family: "Quicksand", sans-serif;
  font-size: 48px;
}

.content {
  font-family: "Nunito", sans-serif;
  font-size: 21px;
}
