.nav {
  margin: 0;
  padding: 0.3rem 0rem;
  display: flex;
  gap: 10%;
  background-color: lavender;
}

.nav-items {
  list-style: none;
  font-family: "Quicksand", sans-serif;
  font-size: 21px;
}

.title {
  font-family: "Quicksand", sans-serif;
  font-size: 48px;
}

.content {
  font-family: "Nunito", sans-serif;
  font-size: 21px;
}
